.container {
    min-width: 400px;
    padding: 15px;
}

.app-header {
    background-color: #baaa1a;
}

.title {
    padding-bottom: 5px;
    margin-top: 0;
    border-bottom: 1px solid #ccc;
    text-align: center;
}

.theme-primary-color-text {
    color: #baaa1a;  /* theme colorPrimary */
}

.theme-primary-dark-color-text {
    color: #796f10;  /* theme colorPrimaryDark */
}

.theme-red-text {
    color: #ff1744;  /* theme colorPrimaryDark */
}

.status-guide {
    border-bottom: 1px solid #ccc;
    padding: 0 20px 0 20px;  /* clockwise: top right bottom left*/
}

.status-guide li {
    list-style: none;;
    margin-bottom: 3px;
}

.dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.open .dot {
    width: 16px;
    height: 16px;
    background: url("../icons/ic_btn_green.png") no-repeat;
    background-size: contain;
}

.closed .dot {
    width: 16px;
    height: 16px;
    background: url("../icons/ic_btn_red.png") no-repeat;
    background-size: contain;
}

.unavailable .dot {
    width: 16px;
    height: 16px;
    background: url("../icons/ic_btn_grey.png") no-repeat;
    background-size: contain;
}

.card {
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .3);
    margin-bottom: 5px;
}

.card .card-content {
    display:inline-block;
}

.card ul.img-btn li img {
    height: 32px;
    width: 32px;
}

.title-sm {
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.card ul {
    margin-bottom: 3px;
}
.status {
    text-align: center;
}

.status li {
    margin-left: auto;
    margin-right: auto;
    min-width: 60px;;
}

.status li .dot {
    margin-right: 0;
}

.status li .time {
    font-size: 12px;;
}
